template(name='home')
    .ui.padded.stackable.grid
        .sixteen.wide.column
            .ui.header Rosetta Hall
            .ui.header staff
            .ui.header posts
            .ui.header requests
            .ui.header items
            .ui.header work
            