template(name='home')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.header 
                |rosetta hall exchange system
            .ui.icon.button.add_role
                i.plus.icon
            unless currentUser 
                .ui.header login as
                each roles_docs
                    +role_picker
                    



template(name='role_picker')
    .ui.big.button.pick_user
        |#{name}