template(name='home')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.inline.header 
                |Rosetta Hall Exchange System
            .ui.icon.button.add_role
                i.plus.icon
            unless currentUser 
                .ui.header pick role
            // each role_docs
            //     +role_picker
            +role_picker name='italian' 
            +role_picker name='chinese' 
            +role_picker name='american' 
            +role_picker name='spanish' 
            +role_picker name='pastry' 
                    



template(name='role_picker')
    .ui.big.button.pick_user
        |#{name}