template(name='items')
    .ui.padded.stackable.grid
        .sixteen.wide.column
            .ui.inline.header 
                |item request menu
                // if is_admin
                i.plus.circular.link.small.icon.add_item
            .ui.input
                input(type='text' placeholder='search title...')
        .sixteen.wide.column
            .ui.six.doubling.centered.cards
                each unarchived_items
                    +item_item
        if is_admin
            .sixteen.wide.column
                .ui.header 
                    i.archive.icon
                    |archived items
                .ui.six.doubling.cards
                    each archived_items
                        +item_item
                div
        


template(name='item_item')
    if session_is 'editing_item' _id
        .ui.card
            +image_edit key='image_id' direct=true
            .content
                +text_edit key='title' direct=true
                i.checkmark.circular.link.green.icon.save_item   
                +boolean_edit key='archived' label='archived' icon='archive' direct=true
    else
        .ui.card
            // if unless
            img.ui.image.request_item.pointer(src="{{c.url image_id width=500 height=500 gravity='face' crop='fill'}}")
            // else
            //     img.ui.image(src="{{c.url image_id width=500 height=500 gravity='face' crop='fill'}}")
            .content
                .ui.inline.header #{title}
                // if is_roof            
                //     .ui.basic.button.request_item
                //         i.dolly.green.icon
                //         |request
                if is_admin
                    i.pencil.circular.link.icon.edit_item            
                