template(name='porters')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.header
                i.hand.holding.icon
                |porters
            .ui.button.add_porter_task
                i.plus.icon
            .ui.header tasks
            each porter_tasks
                .ui.card.log_work
                    .ui.header #{title}
    
    
    