.pointer:hover {
    cursor: pointer !important;
    -webkit-filter: drop-shadow(10px 10px 10px rgba(250,250,250, 0.5)) !important;
    filter: drop-shadow(10px 10px 10px rgba(250,250,250, 0.5)) !important;
    transition: scale(1.05) !important;
    transition: transform .5s; /* Animation */
    box-shadow: inset 0px 0px 10px 10px rgba(250,250,250,0.8);
    border-radius: 15px !important;
    filter: drop-shadow(0px 0px 5px 5px rgba(200,200,200,.7)) !important;
    transform: scale(1.1) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.button {
  margin:.1em !important;
}
 /*Mobile */
@media only screen and (max-width: 767px) {
  .mobile.hidden,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
 /*Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile.only,
  .tablet.hidden,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
 /*Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile.only,
  .tablet.only,
  .computer.hidden,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
 /*Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.hidden,
  .widescreen.monitor.only {
    display: none !important;
  }
}
 /*Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.hidden {
    display: none !important;
  }
}


 .ui.image:not(.avatar2), .label, img:not(.avatar2) {
    border-radius: 10px !important;
} 


.scrolling{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:85vh;
	padding-top: 1em;
	padding-left: 1em;
}
.smallscroll{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:500px;
	padding-top: 1em;
	padding-left: 1em;
}

.smallscroll::-webkit-scrollbar {
    width: 3px;
}