template(name='admin')
    .ui.stackable.padded.grid
        .ui.header
            i.shield.icon
            |admin
        .ui.large.list
            each admin_tasks
                .item 
                    .content
                        .header #{title}
                        .ui.circular.icon.button.mark_read