template(name='search')
    .ui.padded.grid
        .sixteen.wide.column
            .ui.header search
            each search_results
                .ui.header #{title}
            .ui.header search #{current_search}
        
